# Project Kojak - The Final Project

## Importing Initial OpenPV Dataset 
## Information about PV (Solar Panel) Installations in United States

In [5]:
import pandas as pd 
import numpy as np 
import pickle
pd.set_option("max_columns", 100)

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [1]:
df = pd.read_csv("openpv_all.csv")

In [3]:
df.replace('NaN', np.nan, inplace=True)
df.drop(['install_price_real_w', 'install_price', 'installer_clean', 'manuf1_', 'inverter_reported', 'rebate_real',
        'model1', '_3rdparty', 'inv_model_reported', 'microinv_solarhub', 'bipv_3', 'bipv_2', 'bipv_1', 'sales_tax_rate',
        'sales_tax_cost_real', 'bipv_all', 'thinfilm_all', 'china', 'sys_sizeac', 'pbi_rate', 'new_constr', 
        'effic_1', 'cust_county', 'tracking', 'inv_model_clean', 'mod_cost_real', 'inv_cost_real', 'bos_powerclerk_real', 
        'permitting_real'], axis=1, inplace=True)
df.drop(['incentivetype', 'year_app_implied', 'year', 'npv_fit_real', 'application_implied', 'npv_pbi_real', 
        'other_incentive', 'appraised_cluster', 'inflation', 'other_incentive_real', 'zip_available', 'cust_city', 
        'pbi', 'pbi_real', 'pbi_length', 'application', 'fit_length', 'fit_rate', 'fit_payment', '_3rdparty_implied', 
        'utility'], axis=1, inplace=True)
df.drop(['appraised'], axis=1, inplace=True)
df.drop(['inv_man_clean'], axis=1, inplace=True)
df.date_installed.dropna(inplace=True)

In [4]:
df.reset_index(inplace=True)
del df['index']
df.drop([627, 283268, 283285, 283456, 283475], inplace=True)
df.reset_index(inplace=True)
del df['index']

In [5]:
df.cost.replace('n/a', np.nan, inplace=True)

In [6]:
df['cost'] = df.cost.astype('float')

In [7]:
df.dtypes

state                           object
date_installed                  object
incentive_prog_names            object
type                            object
size_kw                        float64
zipcode                        float64
install_type                    object
installer                       object
cost_per_watt                  float64
cost                           float64
lbnl_tts_version_year          float64
lbnl_tts                        object
city                            object
utility_clean                   object
tech_1                          object
model1_clean                    object
county                          object
annual_PV_prod                 float64
annual_insolation              float64
rebate                          object
sales_tax_cost                 float64
tilt1                          float64
tracking_type                   object
azimuth1                       float64
manuf2_clean                    object
manuf3_clean                    object
manuf1_clean                    object
reported_annual_energy_prod    float64
3rdparty                       float64
dtype: object

In [8]:
df['zipcode'] = df.zipcode.astype('str')

In [9]:
df.zipcode.replace(r'\.0', '', regex=True, inplace=True)

In [10]:
df['zipcode'] = df['zipcode'].apply(lambda x: x.zfill(5))

In [11]:
df['zipcode'] = df['zipcode'].astype('category')

In [12]:
df.install_type.isnull().sum()

42576

In [13]:
# df.install_type.value_counts()

In [14]:
df.install_type.value_counts()
df['install_type'] = df['install_type'].map({
                    'residential': 'Residential',
                    'Residential': 'Residential',
                    'commercial': 'Commercial',
                    'Commercial': 'Commercial',
                    'nonprofit': 'Nonprofit',
                    'Government': 'Government',
                    'Nonprofit': 'Nonprofit',
                    'Educational': 'Educational',
                    'Customer': 'Residential',
                    'Agricultural': 'Agricultural',
                    'Utility': 'Utility',
                    'Institutional': 'Commercial',
                    'Public': 'Nonprofit',
                    'public': 'Nonprofit',
                    'Unknown': 'nan',
                    'unknown': 'nan',
                    'government': 'Government',
                    'educational': 'Educational',
                    'education': 'Educational',
                    'agricultural': 'Agricultural',
                    'utility': 'Utility',
                    'Commercial - Other': 'Commercial',
                    "Gov't/NP": 'Government',
                    'agriculture': 'Agricultural',
                    'Residential/SF': 'Residential',
                    'Nonresidential': 'Commercial',
                    'Not Stated': 'nan',
                    'Commercial - Small Business': 'Commercial',
                    'Small Business': 'Commercial',
                    'Commerical': 'Commercial',
                    'Municipal': 'Commercial',
                    'Commercial - Builders': 'Commercial',
                    'Commercial - Agriculture': 'Commercial'}, na_action='ignore')

In [15]:
df.install_type.value_counts()

Residential     908464
Commercial       36460
nan              19807
Government        5759
Nonprofit         4236
Educational       2703
Agricultural       434
Utility            230
Name: install_type, dtype: int64

In [16]:
df.install_type.isnull().sum()

42576

In [17]:
df.install_type.replace('nan', np.nan, inplace=True)

In [18]:
df.install_type.value_counts()

Residential     908464
Commercial       36460
Government        5759
Nonprofit         4236
Educational       2703
Agricultural       434
Utility            230
Name: install_type, dtype: int64

In [19]:
df.state.replace('MD ', 'MD', inplace=True)
df.state.replace('PA ', 'PA', inplace=True)
df.state.replace('OH ', 'OH', inplace=True)

In [20]:
df = np.round(df, decimals=2)

In [21]:
pd.set_option('max_colwidth', 200)
df.describe()

,size_kw,cost_per_watt,cost,lbnl_tts_version_year,annual_PV_prod,annual_insolation,sales_tax_cost,tilt1,azimuth1,reported_annual_energy_prod,3rdparty
count,1.020669e+06,763092.000000,7.632530e+05,797958.0,7.809690e+05,780969.000000,355309.000000,383365.000000,363281.000000,2.044290e+05,306993.0
mean,1.618822e+01,5.917262,6.489768e+04,2016.0,1.934038e+04,5.292900,2657.135224,22.472409,185.543216,2.001290e+04,1.0
std,8.816747e+02,2.069311,4.909373e+05,0.0,1.371303e+06,0.713444,14579.815555,8.007204,335.661910,1.864263e+05,0.0
min,0.000000e+00,0.000000,0.000000e+00,2016.0,8.660000e+00,1.180000,10.130000,0.010000,-76.000000,8.800000e-01,1.0
25%,3.710000e+00,4.600000,2.104500e+04,2016.0,5.617630e+03,4.630000,764.150000,18.000000,160.000000,5.569000e+03,1.0
50%,5.490000e+00,5.520000,3.022126e+04,2016.0,8.151460e+03,5.420000,1118.820000,22.000000,180.000000,8.250000e+03,1.0
75%,7.850000e+00,7.150000,4.361567e+04,2016.0,1.155491e+04,5.700000,1674.020000,26.000000,215.000000,1.190274e+04,1.0
max,7.373190e+05,30.000000,1.522000e+08,2016.0,1.113476e+09,6.760000,872902.120000,260.000000,200100.000000,3.500000e+07,1.0

In [22]:
df['date_installed'] = pd.to_datetime(df['date_installed'], infer_datetime_format=True)

In [23]:
df.city.replace('AUSTIN', 'Austin', inplace=True)

In [24]:
df['city'] = df.city.str.title()

In [25]:
df.drop(['3rdparty', 'manuf3_clean', 'manuf1_clean'], axis=1, inplace=True)

In [26]:
df=df.rename(columns = {'manuf2_clean':'manufacturer'})

In [27]:
df.columns

Index(['state', 'date_installed', 'incentive_prog_names', 'type', 'size_kw',
       'zipcode', 'install_type', 'installer', 'cost_per_watt', 'cost',
       'lbnl_tts_version_year', 'lbnl_tts', 'city', 'utility_clean', 'tech_1',
       'model1_clean', 'county', 'annual_PV_prod', 'annual_insolation',
       'rebate', 'sales_tax_cost', 'tilt1', 'tracking_type', 'azimuth1',
       'manufacturer', 'reported_annual_energy_prod'],
      dtype='object')

In [28]:
df.sort_values(by='date_installed')
df.drop([2921, 2917, 2916, 2915], inplace=True)

In [29]:
df = df[df.date_installed > '1980-12-31']

In [33]:
df.drop_duplicates(inplace=True)
df.reset_index(inplace=True)
del df['index']

In [102]:
# df.groupby(['state', 'zipcode'])['size_kw'].median().sort_values(ascending=False)

In [60]:
df['lbnl_tts_version_year'].value_counts()

2016.0    779365
Name: lbnl_tts_version_year, dtype: int64

In [61]:
df['lbnl_tts'].value_counts()

True    779365
Name: lbnl_tts, dtype: int64

# For lbnl_tts: 
### 0 = False 
### 1 = True
### Version Year is 2016

In [65]:
df['lbnl_tts'].replace(np.nan, 0, inplace=True)
df['lbnl_tts'].replace(True, 1, inplace=True)

In [69]:
df.drop('lbnl_tts_version_year', axis=1, inplace=True)
df.drop(['manufacturer', 'reported_annual_energy_prod'], axis=1, inplace=True)
df.drop('azimuth1', axis=1, inplace=True)
df['rebate'].replace('null', np.nan, inplace=True)
df['rebate'].replace(r'\$|\,', '', regex=True, inplace=True)
df['rebate'] = df.rebate.astype('float')

In [103]:
df.dtypes

state                           object
date_installed          datetime64[ns]
incentive_prog_names            object
type                            object
size_kw                        float64
zipcode                       category
install_type                    object
installer                       object
cost_per_watt                  float64
cost                           float64
lbnl_tts                         int64
city                            object
utility_clean                   object
tech_1                          object
model1_clean                    object
county                          object
annual_PV_prod                 float64
annual_insolation              float64
rebate                         float64
sales_tax_cost                 float64
tilt1                          float64
tracking_type                   object
dtype: object

In [114]:
df.isnull().sum()

state                        0
date_installed               0
incentive_prog_names    211447
type                         0
size_kw                      0
zipcode                      0
install_type             55629
installer               303199
cost_per_watt           247858
cost                    247734
lbnl_tts                     0
city                    210278
utility_clean           216552
tech_1                  420833
model1_clean            420833
county                   17850
annual_PV_prod          228062
annual_insolation       228062
rebate                  614110
sales_tax_cost          643276
tracking_type           470750
dtype: int64

In [113]:
df.drop('tilt1', axis=1, inplace=True)

In [138]:
df.dropna(subset=['cost'], inplace=True)

In [141]:
df.dropna(subset=['cost_per_watt'], inplace=True)

In [146]:
df.shape

(742808, 21)

In [177]:
df.groupby('state').count().sort_values(by='date_installed', ascending=False)

,date_installed,incentive_prog_names,type,size_kw,zipcode,install_type,installer,cost_per_watt,cost,lbnl_tts,city,utility_clean,tech_1,model1_clean,county,annual_PV_prod,annual_insolation,rebate,sales_tax_cost,tracking_type
state,,,,,,,,,,,,,,,,,,,,
CA,424456,296844,424456,424456,424456,395856,280278,424456,424456,424456,296873,296832,269318,269318,424399,292607,292607,209565,296622,247119
AZ,81869,66029,81869,81869,81869,80439,59089,81869,81869,81869,66031,66029,35330,35330,81845,62998,62998,40518,0,0
MA,70156,60868,70156,70156,70156,69099,60588,70156,70156,70156,60887,60865,22768,22768,70064,59498,59498,16462,3727,60436
NY,49921,43624,49921,49921,49921,47701,94,49921,49921,49921,43721,43624,31010,31010,49672,43624,43624,43596,2339,0
CT,20053,15702,20053,20053,20053,15672,16337,20053,20053,20053,15704,15683,15392,15392,15695,14616,14616,6504,190,15434
NV,15644,14473,15644,15644,15644,15278,14389,15644,15644,15644,14473,14473,14338,14338,15638,13955,13955,13677,14473,14430
TX,13532,9159,13532,13532,13532,12961,3866,13532,13532,13532,9294,9159,7680,7680,10194,8854,8854,9109,9159,5848
PA,11276,7212,11276,11276,11276,11104,7436,11276,11276,11276,7439,7212,6988,6988,11033,7120,7120,7187,7212,7204
MD,11045,7437,11045,11045,11045,10666,7109,11045,11045,11045,7621,6240,0,0,10817,7437,7437,7434,198,0
NJ,10424,7891,10424,10424,10424,10292,7818,10424,10424,10424,7898,7890,3988,3988,10415,7683,7683,7879,0,7765
NM,8319,6510,8319,8319,8319,6057,6389,8319,8319,8319,6513,6509,3804,3804,8278,6230,6230,0,6509,6467
DE,3525,2976,3525,3525,3525,3287,732,3525,3525,3525,3003,2976,0,0,3490,2976,2976,2812,738,0
NH,3405,2841,3405,3405,3405,3398,794,3405,3405,3405,2843,2825,1057,1057,3377,2840,2840,2750,1658,1058
WI,3248,2070,3248,3248,3248,2826,1248,3248,3248,3248,2072,1891,751,751,3199,2043,2043,2065,919,0
OR,3176,2194,3176,3176,3176,2139,1575,3176,3176,3176,2194,2183,352,352,3171,2191,2191,23,578,894
FL,2607,1805,2607,2607,2607,2607,1790,2607,2607,2607,1810,1740,1087,1087,2587,1622,1622,1345,0,522
DC,1607,790,1607,1607,1607,1588,0,1607,1607,1607,790,0,0,0,1606,790,790,774,790,0
VT,1523,0,1523,1523,1523,1183,0,1523,1523,1523,0,0,0,0,1523,0,0,0,0,0
IL,1423,1058,1423,1423,1423,224,347,1423,1423,1423,15,1048,272,272,1300,1051,1051,0,1055,0
MN,1129,870,1129,1129,1129,683,410,1129,1129,1129,878,870,0,0,996,862,862,460,41,310
UT,777,405,777,777,777,346,0,777,777,777,408,405,392,392,679,400,400,405,405,345
CO,715,0,715,715,715,421,0,715,715,715,8,0,0,0,704,0,0,0,0,0
ME,575,527,575,575,575,48,9,575,575,575,537,496,0,0,564,447,447,527,527,0
IN,475,0,475,475,475,474,242,475,475,475,332,0,0,0,143,0,0,0,0,0
OH,346,0,346,346,346,341,114,346,346,346,113,0,0,0,222,0,0,0,0,0
RI,311,299,311,311,311,311,0,311,311,311,299,299,214,214,296,299,299,294,299,267
WA,192,0,192,192,192,192,0,192,192,192,5,0,0,0,170,0,0,0,0,0
AR,185,97,185,185,185,125,97,185,185,185,97,97,84,84,184,97,97,1,97,76
MO,180,0,180,180,180,170,1,180,180,180,1,0,0,0,179,0,0,0,0,0
MI,135,0,135,135,135,134,0,135,135,135,7,0,0,0,126,0,0,0,0,0
TN,102,0,102,102,102,33,0,102,102,102,0,0,0,0,102,0,0,0,0,0
IA,102,0,102,102,102,101,55,102,102,102,69,0,0,0,27,0,0,0,0,0
MS,65,0,65,65,65,65,0,65,65,65,14,0,0,0,41,0,0,0,0,0
WV,62,0,62,62,62,61,0,62,62,62,0,0,0,0,61,0,0,0,0,0
VA,52,0,52,52,52,51,15,52,52,52,18,0,0,0,34,0,0,0,0,0
NC,33,0,33,33,33,33,0,33,33,33,0,0,0,0,32,0,0,0,0,0
AL,25,0,25,25,25,25,0,25,25,25,1,0,0,0,24,0,0,0,0,0
KY,24,0,24,24,24,24,9,24,24,24,11,0,0,0,12,0,0,0,0,0
ID,16,0,16,16,16,16,3,16,16,16,1,0,0,0,13,0,0,0,0,0
GA,12,0,12,12,12,12,0,12,12,12,1,0,0,0,10,0,0,0,0,0
MT,10,0,10,10,10,10,0,10,10,10,1,0,0,0,8,0,0,0,0,0
WY,10,0,10,10,10,10,0,10,10,10,0,0,0,0,10,0,0,0,0,0
LA,10,0,10,10,10,10,0,10,10,10,0,0,0,0,10,0,0,0,0,0
OK,9,0,9,9,9,9,1,9,9,9,2,0,0,0,7,0,0,0,0,0
SC,8,0,8,8,8,7,0,8,8,8,0,0,0,0,8,0,0,0,0,0
NE,8,0,8,8,8,7,0,8,8,8,1,0,0,0,6,0,0,0,0,0
SD,7,0,7,7,7,7,0,7,7,7,0,0,0,0,5,0,0,0,0,0
HI,7,0,7,7,7,7,0,7,7,7,1,0,0,0,6,0,0,0,0,0
AK,7,0,7,7,7,7,0,7,7,7,1,0,0,0,6,0,0,0,0,0
KS,5,0,5,5,5,5,0,5,5,5,0,0,0,0,5,0,0,0,0,0
PR,4,0,4,4,4,4,0,4,4,4,0,0,0,0,4,0,0,0,0,0
ND,1,0,1,1,1,1,0,1,1,1,0,0,0,0,1,0,0,0,0,0

In [184]:
df.install_type.replace(np.nan, 'Residential', inplace=True)

In [189]:
df.isnull().sum()

state                        0
date_installed               0
incentive_prog_names    191127
type                         0
size_kw                      0
zipcode                      0
install_type                 0
installer               271973
cost_per_watt                0
cost                         0
lbnl_tts                     0
city                    190821
utility_clean           193462
tech_1                  327983
model1_clean            327983
county                    9810
annual_PV_prod          202568
annual_insolation       202568
rebate                  369421
sales_tax_cost          395272
tracking_type           374633
dtype: int64

# Creating categoricals for install_type

In [234]:
del df['tracking_type']

In [192]:
df.reset_index(inplace=True)
del df['index']

In [204]:
df.install_type.value_counts()

Residential     708260
Commercial       24073
Government        4955
Nonprofit         3480
Educational       1617
Agricultural       357
Utility             66
Name: install_type, dtype: int64

In [210]:
install_type_dummies = pd.get_dummies(df['install_type'])
del install_type_dummies['Residential']

In [212]:
df = pd.concat([df, install_type_dummies], axis=1)

In [223]:
df['month'] = df['date_installed'].dt.month

In [226]:
df['year'] = df['date_installed'].dt.year

In [231]:
# df[['year', 'cost']].sort_values(by='year')

In [239]:
df.month.value_counts()

12    82572
10    73650
8     70320
9     69979
11    69130
7     63698
6     60833
5     55237
4     52229
3     50561
1     50297
2     44302
Name: month, dtype: int64

In [241]:
month_dummies = pd.get_dummies(df['month'])
del month_dummies[12]

In [243]:
df = pd.concat([df, month_dummies], axis=1)

In [2]:
#df.corr()

In [263]:
with open("pv_data.pkl", "wb") as f:
    pickle.dump(df, f)

In [264]:
with open("pv_data.pkl", "rb") as f:
    df = pickle.load(f)